/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
	font-family: "ff-tisa-sans-web-pro", sans-serif;


}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family: "ff-tisa-sans-web-pro",sans-serif;
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
	line-height: 2em;
}

#nav a {text-decoration: none; text-transform: uppercase; color:white; text-shadow:1px 1px 3px black;}

#nav a:hover, a:focus {text-shadow:2px 2px 1px #ea5e4e; font-size:18px;}


img{
	border: 0;
}



h1 {
font-family: "ff-tisa-sans-web-pro",sans-serif;
margin-top: 230px;
text-align: left;
margin-left: 177px;
line-height: 1.4em;
font-size: 2.5em;
text-shadow:1px 1px 4px gray;
padding-left:20px;
}

h2{
font-family: "ff-tisa-sans-web-pro",sans-serif;
text-align: left;
line-height: 1.4em;
font-size: 2.5em;
text-shadow:1px 1px 4px gray;
color:white;
}

#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

#logo{
	
	
}

#logo img {height:150px;}

#nav{
	list-style: none;
	position: fixed;
	left: 0px;
	top:0px;
	z-index: 500;
}

#nav li{
	margin:10px 0;
	text-align: center;
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(images/home.jpg) 50% 0 no-repeat fixed;
	background-size:cover;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

#intro .bg{
	background: url(images/bluehearts.png) 50% 0 repeat-y fixed;
	height: 1200px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}

.firstheart{
	background: url(images/bluehearts.png) 50% 20% repeat-y fixed;
	background-size:cover;
	height: 700px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}



#second{
	background: url(images/about.jpg) 50% 0 no-repeat fixed;
	background-size:cover;
	color: white;
	height: 1100px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#second p{ color:rgb(114, 76, 46)}

span {
	color:#ea5e4e;
	text-shadow:none;
}

#third{
	background: url(images/calendar.jpg) 50% 0 no-repeat fixed;
	background-size:cover;
	color: white;
	height: 850px;
	padding: 100px 0 0 0;	
}

#fifth{
	background: url(images/join.jpg) 50% 0 no-repeat fixed;
	background-size:cover;
	height: 700px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.quotes {margin-top:50px; background: url(images/bluehearts.png) repeat-y;}

blockquote p {font-size:3em; text-shadow:1px 1px 4px gray; font-weight:500;}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding-top:90px;
	position: relative;
	width: 650px;
	z-index: 300;	
}




 .btn {
 	float:left;
 	margin-top:7px;
	background-color:#3bb3e0;
	padding:15px 56px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	text-decoration:none;
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}




.btn:active {
	padding-bottom:14px;
	padding-left:56px;
	padding-right:56px;
	padding-top:14px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
}

.signup-info {padding-bottom:40px; color:rgb(36, 40, 48);}
.signup-info span {font-size:1.5em; font-weight: 500;}

footer {position: absolute;
right:0;
margin-top: 660px;
font-size: 10px;
opacity: .5;
padding-right: 30px;
z-index:600;}


